# write a program to print hellow world

In [1]:
print("Hello World !")

Hello World !

# write a program to store one value in variable and print that variable

In [2]:
x=3
print(x)

3

# write a program to take value from user input and print that value

In [3]:
name = input("enter your name: ")# string input

enter your name: diksha

In [6]:
age = int(input("enter your age:"))# int input

enter your age:13

# write a program to do sum of two value

In [7]:
x=12
y=13
sum=x+y
print(sum)

25

# write a program to do division using python

In [8]:
x=12
y=13
div=x/y
print(div)

0.9230769230769231

 # write a program to do multiple using python

In [9]:
x=12
y=13
mul=x*y
print(mul)

156

# write a program to find type of variable

In [3]:
str1 = "python"
vv = 100
rr = 7.7
list1 = ["VK", "RS", "JB", "RP"]
stud_name = ("A", "B", "C", "D")
std_age= {"A": "a", "B": "b", "C": "c", "D": "d"}
lbw = {'Y', 'N', 'T', 'F'}

print("The type is : ", type(str1))
print("The type is : ", type(vv))
print("The type is : ", type(rr))
print("The type is : ", type(list1))
print("The type is : ", type(stud_name))
print("The type is : ", type(std_age))
print("The type is : ", type(lbw))

The type is :  <class 'str'>
The type is :  <class 'int'>
The type is :  <class 'float'>
The type is :  <class 'list'>
The type is :  <class 'tuple'>
The type is :  <class 'dict'>
The type is :  <class 'set'>

In [6]:
str = "diksha"

# write a program to take two integer value from the user and to check both value are same

In [22]:
a = input("enter the value of a :")
b = input("enter the value of b :")
if a==b:
      print("a is equals to b")
else:
      print("a is not equls to b")

enter the value of a :11
enter the value of b :11
a is equals to b

# write a program whether the number is even or odd and print the message

In [8]:
num = int(input("Enter the number:"))
if (num % 2) == 0:
    print("{0} is Even".format(num))
else:
    print("{0} is odd" .format(num))

Enter the number:22
22 is Even

In [25]:
num = int(input("Enter the number:"))
if (num % 2) == 0:
    print("{0} is Even".format(num))
else:
    print("{0} is odd".format(num))

Enter the number:7
7 is odd

# greater than or less than

In [31]:
num = int(input("Enter the value of a:"))
num = int(input("Enter the value of b:"))
if (a>b):
    print ("a is greter than b")
else:
    print ("b is  not greter than a")

Enter the value of a:10
Enter the value of b:40
b is  not greter than a

In [32]:
for i in range (1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [36]:
for i in range(10,0,-1):
    print(i,end =' ')
    print("\r")

10
9
8
7
6
5
4
3
2
1

In [37]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *

# how to print the following half pyramid pattern of numbers

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [38]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
text = "hello python".upper()
print(text)

HELLO PYTHON

In [40]:
text = "HELLO PYTHON".lower()
print(text)

hello python

# write a program to remove the element "3" from the given list[1,2,3,4,5,6]

In [9]:
list1=[1,2,3,4,5,6]
print(list1)
list1.remove(3)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

# write a program to  insert the element "python" on index 2 the given list["java""php",".net","angular"]

In [10]:
list1=["java","php",".net","angular"]
print(list1)
list1.insert(2,"python")
print(list1)

['java', 'php', '.net', 'angular']
['java', 'php', 'python', '.net', 'angular']

# write program to add element in list using for loop

In [38]:
a=[]
for i in range(5):    
    a.append(i)
a # the list with the new items.

[0, 1, 2, 3, 4]

# given tuple ("python",1,2,3,"java"'A','B')

In [19]:
# print value between index 1 to 5
tup1=("python",1,2,3,"java",'A','B')
print(tup1[1:5])

(1, 2, 3, 'java')

In [20]:
# print the last value of tuple
tup2=("python",1,2,3,"java",'A','B')
print(tup2[-1])

B

# write a program to count element in the given tuple

In [2]:
tup3=(1,2,3,4,5,6,7,8)
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8)

# write program to convert tuple into list

In [1]:
tup4 = (44, False, "python")
list1 = list(tup4)
print(type(list1))
print(list1)

<class 'list'>
[44, False, 'python']